<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to trello.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to trello.com,
      <% if @user.name.present? %>
      	your User Name is: <%= @user.name %>.<br>
      <% else %>
      	your Email Id is: <%= @user.email %>.<br>
      <% end %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>