#form{
	margin-top: 180px;
}

.submit{
	margin-left: 130px;
}

.password{
	margin-left: 42px;
}

.header-top{
	background: #0089ff;
}
.button{
  /*background: #3498db;*/
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.login-link{
	margin-top: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/*.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 88px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 9px 21px;
    z-index: 1;
    border-radius: 28px;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}*/
.box{
	margin-top: 100px;
}

.box1{
	margin-left: 128px;
}
.box2{
	margin-top: 200px;
}
.row1{
	background-image: url("/assets/usecases-bg.jpg");
  background-color: #cccccc;
  height: 500px;
}
.sync-img{
  background-image: url("https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/60dc711cb04607c6a8a0c55b045aeb6d/usecases-taco.jpg");
  background-color: #cccccc;
  height: 500px;
  margin-top: 500px;
}
.text {
  margin: 0px 15px 10px;
  color: grey;
}
.submit {
  background: green;
  width: 100px;
}
.link {
  color: white;
}
.button a {
  font-size: 14px;
}
.set-team ul li {
  float: left;
}