<footer>
	<div class="sync-img"> 
		<div class="col-sm-4 col-sm-offset-3" style="order:1; -webkit:order: 1; margin-top: 130px;"> 
			<h2>Always In Sync</h2> 
			<p>No matter where you are, Trello stays in sync across all of your devices. Collaborate with your team anywhere, from sitting on the bus to sitting on the beach.</p>
		</div>
	</div>
</footer>
